@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
    --header-bg: #333366;
    --menu-bg: #292952;
    --main-txt: #ffffcc;
    --main-bg: #181818;
    --main-accent: #00cc99;
    --em-txt: #FFBA5E;
    --fullscreen: calc(100vh - 100px);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
    color: var(--main-txt);
}

a {
    text-decoration: none;
    color: var(--main-txt);
}

a:hover {
    color: var(--main-accent);
}

h1 {
    margin: 0;
    color: var(--main-accent);
    font-size: 6em;
    text-shadow: 5px 5px 10px rgb(255, 255, 255, 0.5);
}

h2 {
    margin: 0;
    color: var(--main-txt);
    font-size: 3em;

    em {
        color: var(--em-txt);
    }

    b {
        color: var(--main-accent);
    }

    &::before {
        content: "\2022";
        color: var(--main-accent);
        display: inline-block;
        width: 0.75em;
        margin-left: 0.25em;
    }
}

p {
    padding: 0;
    margin: 0;
}

.main {
    height: var(--fullscreen);
    width: 100vw;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    height: 100%;
    background-color: var(--main-bg);
    scroll-snap-align: start;
    display: flex;
    align-items: center;

    a {
        color: var(--main-accent);
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 1.25em;
        max-width: 50vw;
        text-align: justify;
    }

    ul {
        width: 20vw;
        list-style: none;
        padding-right: 1em;
    }

    li {
        font-size: 1.5em;
        padding-bottom: 1em;
    }

}

.left {
    padding-left: 2em;
}

.right {
    padding-right: 2em;
}

header {
    background-color: var(--header-bg);
    color: var(--main-txt);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 3em;
    margin: 0;

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        max-width: 500px;
        align-items: center;
        justify-content: space-between;
        justify-self: right;
        margin-right: 3em;
    }

    li {
        font-size: 1.5em;
    }

    .logo {
        max-height: 100px;
    }

    .hamburger-icon {
        display: none;
        cursor: pointer;
        padding: 20px 8px;
        position: relative;
        user-select: none;

        .nav-icon {
            background: var(--main-txt);
            display: block;
            height: 5px;
            width: 45px;
            position: relative;
            transition: background .3s ease-out;
        }

        .nav-icon::before,
        .nav-icon::after {
            background: var(--main-txt);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .3s ease-out;
            width: 100%;
        }

        .nav-icon::before {
            top: -12px;
        }

        .nav-icon::after {
            top: 12px;
        }
    }

    .hamburger {
        display: none;
    }

    .hamburger:checked ~ .menu {
        max-height: 300px;
    }

    .hamburger:checked ~ .hamburger-icon .nav-icon {
        background: transparent;
    }

    .hamburger:checked ~ .hamburger-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }

    .hamburger:checked ~ .hamburger-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .menu {
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 99px;
        width: 30vw;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        background-color: var(--menu-bg);
        box-shadow: 1px 3px 4px white;
        border-radius: 0 0 1em 0;

        ul {
            margin: 1em;
            display: block;
            padding: 0;
            width: fit-content;
            list-style: circle;

            li {
                width: fit-content;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
            }
        }
    }
}

.home {
    h2::before {
        display: none;
    }
}

.illus-container {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.illus {
    height: 40vw;
    width: 40vw;
    filter: drop-shadow(2px 2px 10px rgb(255, 255, 255, 0.5));
}

.section-container {
    width: 50vw;
}

.skill-container {
    display: flex;
    align-items: center;
}

.prog-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    overflow: visible;
}

.prog {
    height: 3px;
    background-color: var(--main-accent);
}

.project-list {
    overflow: hidden;
    width: 35vw;
    height: 35vw;
    border: 4px solid var(--main-accent);
    border-radius: 3em;
    padding: 0;

    li {
        position: relative;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    p {
        font-size: 2em;
        text-align: left;
        position: absolute;
        bottom: 1em;
        left: 1em;
        color: white;
        text-shadow: 5px 5px 10px rgb(0, 0, 0);
        text-shadow: -5px -5px 10px rgb(0, 0, 0);
    }
}

.contact-ul {
    padding: 1em;
    position: absolute;
    background-color: var(--main-bg);
    border: 4px solid var(--em-txt);
    border-radius: 3em;
    right: 2em;
    top: 2em;
    text-shadow: 2px 2px 10px rgb(255, 255, 255, 0.5);
}

.contact-li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

i {
    color: var(--main-accent);
    padding-right: 1em;
}

#python {
    width: 90%;
}

#java {
    width: 90%;
}

#solidworks {
    width: 80%;
}

#android {
    width: 75%;
}

#web {
    width: 75%;
}

#js {
    width: 70%;
}

#c {
    width: 65%;
}

#motion {
    width: 60%;
}

#en {
    width: 100%;
}

#fr {
    width: 100%;
}

#es {
    width: 70%;
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    header {
        justify-content: space-between;
        padding: 0 1em;
        position: relative;
        z-index: 3;

        .hamburger-icon {
            display: block;
        }

        ul {
            display: none;
        }
    }

    .section-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        p {
            max-width: 80%;
        }

        h2 {
            text-align: center;
        }

        ul {
            width: 40vw;
        }
    }

    .home {
        h2 {
            text-align: left;
        }
    }

    .left {
        padding-right: 2em;
    }

    .right {
        padding-left: 2em;
    }

    .illus-container {
        width: 100%;
    }

    .illus {
        width: 80vw;
        height: 80vw;
    }

    .skill-container {
        margin-right: 1em;
    }

    #projects {
        flex-direction: column-reverse;
    }

    .project-list {
        width: 80vw;
        height: 80vw;
    }

    .contact-ul {
        font-size: 0.75em;
    }
}