@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
    --main-bg: #333366;
    --main-txt: #ffffcc;
    --main-accent: #00cc99;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-txt);
}

header {
    background-color: var(--main-bg);
    color: var(--main-txt);
    display: flex;
    justify-content: space-between;
    //max-height: 148px;
    padding: 0 3em 0 3em;
    //      top right bottom left

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        max-width: 800px;
        align-items: center;
        justify-content: space-between;
        justify-self: right;
        margin-right: 3em;
    }

    li {
        font-size: 2em;
    }

    .logo {
        max-height: 148px;
    }

    a:hover {
        color: var(--main-accent);
    }
}



